<!DOCTYPE html>
<html>
<head>
  <title>Digipost</title>
  <%= stylesheet_link_tag    "digipost/application", media: "all" %>
  <%= javascript_include_tag "digipost/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
